* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background: gray;
}

.slide-container {
    position: relative;
    width: 80%;
    height: 40%;
    background: rgba(46, 204, 113,1.0);
    left: 10%;
    top: 10%;
    overflow: hidden;
}

.slide-list {
    position: absolute;
    display: flex;
    list-style: none;
    height: 100%;
    width: 280vw;
    transform: translateX(-60vw);
    transition: transform ease 500ms;
}

.slide-img-container {
    box-sizing: border-box;
    height: 100%;
    width: 20vw;
    padding: 10px;
    background: white;
}

.slide-img-container img {
    width: 100%;
    height: 100%;
    -webkit-user-drag: none;
}