* {
    margin: 0;
    padding: 0;
}

body {
    background: gray;
    height: 100vh;
    width: 100vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
}

.slide-container {
    position: relative;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 40%;
    background: rgba(48, 51, 107,1.0);
    overflow: hidden;
}

.slide-container .slide-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    background: rgba(223, 249, 251, 0.5);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    outline: none;
}

.slide-container button:hover {
    background: rgba(223, 249, 251, 1.0);
}

#left-button {
    left: 5%;
    top: 50%;
}

#right-button {
    right: 5%;
    top: 50%;
}

.message {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 10px;
    transform: translate(-50%, -50%);
    background: rgba(223, 249, 251, 0.2);
    border-radius: 15px;
    visibility: hidden;
    opacity: 1;
    transition: opacity ease 300ms;
}

.slide-list {
    display: flex;
    width: 400%;
    height: 100%;
    list-style: none;
    transform: translateX(0);
    transition: transform ease-out 500ms;
}

.slide-img-container {
    width: 25%;
    height: 100%;
    text-align: center;
    color: white;
    font-size: 1.3em;
}

.nav-btn-group {
    position: absolute;
    bottom: 5%;
    left: 30%;
    width: 40%;
    height: 15%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.nav-btn-container {
    position: relative;
    width: 15%;
    height: 100%;
}

.nav-btn-container button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    outline: none;
}

button.primary {
    background: white;
}